<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hell-o-world!</title>
</head>
<body>
    <div>
        <h1><a href="">Today's thoughts</a></a></h1>
        <strong>Nevermind</strong>
        <p>Mambo django!</p>
    </div>

    <div>
        <br>
    </div>


    {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
            <br>
        </div>
    {% endfor %}


</body>
</html>